.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .card {
    border-radius: 1rem;
}

.login-page .card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.login-page .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.login-page .card .btn {
    border-radius: 999px;
}
